.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #navbar {
  background-color: #543324;
  color: #fff;
} */

/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-nav-mobile {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .right-nav-mobile button {
    margin: 0.5em 0;
  }

  .right-nav-desktop {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .right-nav-mobile {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .right-nav-mobile {
    display: none;
  }
  .right-nav-desktop .right-nav-child {
    margin: 0 1em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
