.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar {
  background-color: #543324;
  color: #fff;
}

.navbar-text p {
  margin-bottom: 0;
}
.navbar-text span {
  padding: 0 0.5em;
}

.navbar-text {
  border: solid 1px black;
  border-radius: 5em;
  background: #fff;
  padding: 4px;
  font-size: 0.875rem !important;
  font-weight: 600;
  letter-spacing: 0.0071428571em !important;
  line-height: 1.375rem;
  font-family: Roboto, sans-serif !important;
  word-break: keep-all;
}
.navbar-text p {
  border-radius: 5em;
  background: #666;
  color: #fff;
  padding: 4px;
}

.navbar-button {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 40px;
  font-size: 0.75rem;
  border-radius: 5em;
  border-color: #f5f5f5;
  margin-right: 8px !important;
  min-height: 0;
  min-width: 0;
  padding: 0;
  outline: none;
}

/* Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-nav-mobile {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .right-nav-mobile button {
    margin: 0.5em 0;
  }

  .right-nav-desktop {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .right-nav-mobile {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .right-nav-mobile {
    display: none;
  }
  .right-nav-desktop .right-nav-child {
    margin: 0 1em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
